<footer id="page-footer" class="bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <img src="/assets/img/logo-footer.svg" class="img-fluid " alt="Powered by 4pFoods">
      </div>
      <div class="col-lg-2">
        <div class="content">
          <h5>Shop</h5>
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Refer a Friend</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Recipes</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="content">
          <h5>Info</h5>
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Careers</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">About</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="content">
          <h5>Help</h5>
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>