<footer id="page-footer" class="bg-primary text-white p-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <a href="http://4pfoods.com/about-us/" target="blank"><img src="/assets/img/logo-footer.svg" class="brand" alt="Powered by 4pFoods"></a>
      </div>
      <div class="col-12 col-lg-2">
        <div class="content text-right d-none">
          <h5>Shop</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Refer a Friend</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Recipes</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-2">
        <div class="content text-right d-none">
          <h5>Info</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Careers</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">About</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-white">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-2">
        <div class="content text-right">
          <h5>Help</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="http://4pfoods.com/contact/" target="whtlbl" class="nav-link text-white">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>