<header id="page-header">
  <div id="topnav" class="bg-secondary">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-sm-4">
          <p class="text-right">Already a member? &nbsp;&nbsp;<a href="https://wwws.4pfoods.com/gateway/login" target="whtlbl">Login</a></p>
          <p class="text-right"><a href="https://wwws.4pfoods.com/gateway/login" class="d-none">Logout</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav id="mainnav" class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/" title="{{ site.title }}"
        onClick="ga('send', 'event', 'nav-image-link', '4P Logo', '{{ page.title }}');">
        <img src="/assets/img/logo.svg" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primarynav"
        aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="primarynav">
        <ul class="nav navbar-nav mx-auto border-top">
          <li class="nav-item">
            <a href="/get-a-bag" class="nav-link" onClick="ga('send', 'event', 'navlink', 'Get a Bag', '{{ page.title }}');">Get a Bag</a>
          </li>
          <li class="nav-item">
            <a href="/how-it-works" class="nav-link" onClick="ga('send', 'event', 'navlink', 'How it Works', '{{ page.title }}');">How it Works</a>
          </li>
          <li class="nav-item">
            <a href="/past-bags" class="nav-link"
              onClick="ga('send', 'event', 'navlink', 'Past Bags', '{{ page.title }}');">Past Bags</a>
          </li>
          <li class="nav-item">
            <a href="/faq" class="nav-link" onClick="ga('send', 'event', 'navlink', 'FAQ', '{{ page.title }}');">FAQ</a>
          </li>
        </ul>
        <ul class="navbar-nav float-md-right mt-4 mt-md-0">
          <li class="nav-item">
            <a href="/get-a-bag" class="btn btn-primary"
              onClick="ga('send', 'event', 'navlink', 'Get Started', '{{ page.title }}');">Get Started</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse justify-content-md-end d-none" id="storenav">
        <ul class="nav navbar-nav mx-auto border-top">

        </ul>
      </div>
    </nav>
  </div>
</header>