<header id="page-header">
  <div class="container">
    <nav id="mainnav" class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/" title="{{ site.title }}"
        onClick="ga('send', 'event', 'nav-image-link', '4P Logo', '{{ page.title }}');">
        <img src="/assets/img/logo.svg" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primarynav"
        aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="primarynav">

        <ul class="nav navbar-nav mx-auto border-top">
          <li class="nav-item">
            <a href="#intro" data-toggle="collapse" class="nav-link" onClick="ga('send', 'event', 'navlink', 'About', '{{ page.title }}');">About Program</a>
          </li>
          <li class="nav-item">
            <a href="http://4pfoods.com/get-a-bag/" target="whtlbl" class="nav-link" onClick="ga('send', 'event', 'navlink', 'Get a Bag', '{{ page.title }}');">Get a Bag</a>
          </li>
          <li class="nav-item">
            <a href="http://4pfoods.com/how-it-works/" target="whtlbl" class="nav-link" onClick="ga('send', 'event', 'navlink', 'How it Works', '{{ page.title }}');">How it Works</a>
          </li>
          <li class="nav-item">
            <a href="http://4pfoods.com/category/blog/impact/" target="whtlbl" class="nav-link"
              onClick="ga('send', 'event', 'navlink', 'Impact', '{{ page.title }}');">Impact</a>
          </li>
          <li class="nav-item">
            <a href="http://4pfoods.com/category/blog/farmer-profiles/" target="whtlbl" class="nav-link"
              onClick="ga('send', 'event', 'navlink', 'Our Farmers', '{{ page.title }}');">Our Farmers</a>
          </li>

        </ul>
        <ul class="navbar-nav float-md-right mt-4 mt-md-0">
          <li class="nav-item">
            {% if page.primary_cta == "signup" %}
            <a href="{{ site.signup_url }}" class="btn btn-primary"
              onClick="ga('send', 'event', 'navlink', 'Sign Up', '{{ page.title }}');">Sign up</a>
            {% else %}
            <a href="http://wwws.4pfoods.com/" target="whtlbl" class="btn btn-primary"
              onClick="ga('send', 'event', 'navlink', 'Get Started', '{{ page.title }}');">Get Started</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>