<!-- Analytics -->
{% include analytics.html %}

<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"
  defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"
  defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" crossorigin="anonymous"
  defer></script>

 <!-- main js file-->
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}" defer></script>
<script src="{{ '/assets/js/vendor/iframeResizer.min.js' | prepend: site.baseurl }}"></script>


<script>
  $(document).ready(function () {
    $('#whtlbl').on('load', function () {
      $('#loader1').hide();
    });
  });

  const options = {
    // log: true,
    autoResize: true,
    heightCalculationMethod: 'lowestElement'
  }
  const iframes = iFrameResize(options, '#whtlbl' );

</script>


{% include search.html %}
