#page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 0 10px rgba($black, 0.2);
  z-index: 99;
  .navbar-brand {
    img {
      height: 32px;
      margin: 8px 0;
    }
  }
  .border-top,
  .border-bottom {
    @include media-breakpoint-up(md) {
      border: 0 !important;
    }
  }
}
#topnav {
  p {
    font-family: $headings-font-family;
    font-size: 13px;
    margin: 0;
    color: $primary;
    a {
      color: inherit;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

#primarynav {
  .nav-link {
    text-transform: uppercase;
    margin: 0;
    font-family: $headings-font-family;
    font-size: 13px;
    border-bottom: 1px solid $gray-300;
    @include media-breakpoint-up(md) {
      border-bottom: 0 !important;
    }
    @include media-breakpoint-up(lg) {
      font-size: 15px;
      padding: 20px;
    }
    &.disabled {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .btn {
    font-size: 16px;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0 !important;
    }
    &.disabled {
      opacity: 1;
    }
  }
}
