body {
  font-size: 19px;
  line-height: 1.5rem;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  @include transition();
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  @include media-breakpoint-down(sm) {
    font-size: 1.75rem;
  }
}
h2 {
  font-size: 2.5rem;
  @include media-breakpoint-down(sm) {
    font-size: 1.75rem;
  }
}
.lead {
  font-family: $font-family-base;
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
}

em {
  color: $red;
  font-style: normal;
}
