.collapsable {
  list-style-type: none;

  li {
    margin-bottom: 30px;
    position: relative;

    &.collapsed {
      .icon-plus {
        background-color: $blue-mid;
        transition: background-color 0.5s linear;

        .icon-bar {
          &.bar-2 {
            transform: rotate(180deg);
          }
        }
      }

      .collapse-title {
        background-color: $blue-mid;
        transition: background-color 0.5s linear;
        font-size: 14px;
        @include media-breakpoint-up(sm) {
          font-size: 24px;
        }
      }

      &:hover {
        .icon-plus {
          background-color: $blue;
          color: $white;
        }

        .collapse-title {
          background-color: $blue;
        }
      }
    }
    .collapse-title {
      position: relative;
      display: block;
      background-color: $blue;
      padding: 25px 50px 25px 25px;
      color: $white;
      cursor: pointer;
      display: block;
    }
    .icon-plus {
      position: absolute;
      right: 0;
      top: 0;
      width: 60px;
      height: 100%;
      display: none;
      @include media-breakpoint-up(sm) {
        display: flex;
      }
      align-items: center;
      justify-content: center;
      color: $white;
      background-color: $blue;
      font-size: 30px;
      font-family: "Open Sans", sans-serif;
      .icon-bar {
        background-color: $white;
        &.bar-1 {
          width: 20px;
          height: 1px;
          margin-left: -9px;
        }
        &.bar-2 {
          width: 1px;
          height: 20px;
          transform: rotate(90deg);
          margin-left: -11px;
          @include transition(0.4s);
        }
      }
    }
    .collapse-content {
      background-color: $blue;
      padding: 25px;
      color: $white;
      font-size: 20px;
      line-height: 26px;
      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
