---
layout: page
title: Project Template
framesrc: https://4pfoods.com/get-a-bag/
---
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center">Delicious food straight from the farm.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="card">
          <img src="/assets/img/produce-bag.jpg" class="card-img-top" alt="Dairy Bag">
          <div class="card-body">
            <h5 class="card-title">Dairy Bag</h5>
            <p class="card-text">We are thankful to be working with local dairy producers who treat their cows and goats like family, and as a result,
            produce some of the tastiest and healthiest milks, cheeses, ice creams, and more that you’ll ever eat. Get your dairy share once a
            month, once a week, or anytime you want.</p>
            {% include selling-points.html %}
            <h5 class="mt-5">What's in the bag?</h5>
            <nav class="nav nav-pills flex-column flex-sm-row">
              <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#dairyshare">Dairy Share</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#dairysix">+ 6 Eggs</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#dairytwelve">+ 12 Eggs</a>
            </nav>
            <div class="tab-content" id="dairy-bags">
              <div class="tab-pane fade show active" id="dairyshare" role="tabpanel" aria-labelledby="home-tab">
                <hr>
                <p>Each week, your dairy share will include five to seven locally sourced and sustainably produced dairy products. We’ve
                partnered with amazing producers to bring you the best milk, cheeses, yogurt, butter, ice cream, sour cream, and more.
                One week may have a half gallon of organically produced milk, a quart of yogurt, a pound of butter, one milk cheese, one
                goat cheese, and a taste of ice cream. Most dairy will be whole milk, unless otherwise specified or requested. This
                share comes with NO EGGS.</p>
              </div>
              <div class="tab-pane fade" id="dairysix" role="tabpanel" aria-labelledby="profile-tab">
                <hr>
                <p>Each week, your dairy share will include five to seven locally sourced and sustainably produced dairy products. We’ve partnered with amazing producers to bring you the best milk, cheeses, yogurt, butter, ice cream, sour cream, and more. One week may have a half gallon of organically produced milk, a quart of yogurt, a pound of butter, one milk cheese, one goat cheese, and a taste of ice cream. Most dairy will be whole milk, unless otherwise specified or requested. This share comes with SIX FREE RANGE ORGANIC EGGS.</p>
              </div>
              <div class="tab-pane fade" id="dairytwelve" role="tabpanel" aria-labelledby="contact-tab">
                <hr>
                <p>Each week, your dairy share will include five to seven locally sourced and sustainably produced dairy products. We’ve partnered with amazing producers to bring you the best milk, cheeses, yogurt, butter, ice cream, sour cream, and more. One week may have a half gallon of organically produced milk, a quart of yogurt, a pound of butter, one milk cheese, one goat cheese, and a taste of ice cream. Most dairy will be whole milk, unless otherwise specified or requested. This share comes with TWELVE FREE RANGE ORGANIC EGGS.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="card">
          <img src="/assets/img/produce-bag.jpg" class="card-img-top" alt="Produce Bag">
          <div class="card-body">
            <h5 class="card-title">Produce Bag</h5>
            <p class="card-text">Your produce bag will consist of locally sourced fruits and vegetables. A summer bag might include heirloom tomatoes, sweet corn, raspberries, bell peppers and cucumbers. A winter bag might include leafy greens, butternut squash, bean sprouts, and radishes. Always local. Always seasonal.</p>
            {% include selling-points.html %}
            <h5 class="mt-5">What's in the bag?</h5>
            <nav class="nav nav-pills flex-column flex-sm-row">
              <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#small">Small</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#medium">Medium</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#large">Large</a>
            </nav>
            <div class="tab-content" id="produce-bags">
              <div class="tab-pane fade show active" id="small" role="tabpanel" aria-labelledby="small-tab">
                <hr>
                <p>Designed for a household of 1-2 people, depending on how much produce you eat. A typical small bag could include: a pint of concord grapes, one
                butternut squash, two red tomatoes, two juicy peaches, four red medium shallots, a head of broccoli, a head of bibb
                lettuce, one bunch of mustard greens, two red potatoes, and one bunch of thyme.</p>
              </div>
              <div class="tab-pane fade" id="medium" role="tabpanel" aria-labelledby="medium-tab">
                <hr>
                <p>Designed for a household of 2-4 people. The medium bag is approximately 40% more food than found in our SMALL share.</p>

                <p>A typical medium bag could include: two pints of concord grapes, one butternut squash, three red tomatoes, three juicy
                peaches, four red medium shallots, two heads of broccoli, a head of bibb lettuce, two bunches of mustard greens, three
                red potatoes, and one bunch of thyme.</p>
              </div>
              <div class="tab-pane fade" id="large" role="tabpanel" aria-labelledby="large-tab">
                <hr>
                <p>Designed for a household of 4-5 people. The large bags is approximately DOUBLE the size of our SMALL share. Now imagine twice that amount!
                Lots of veggies for your hungry family.</p>

                <p>A typical large bag could include: two pints of concord grapes, two butternut squash, four red tomatoes, four juicy
                peaches, six red medium shallots, two heads of broccoli, two heads of bibb lettuce, two bunches of mustard greens, four
                red potatoes, and one bunch of thyme.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="card">
          <img src="/assets/img/protein-bag.jpg" class="card-img-top" alt="Protein Bag">
          <div class="card-body">
            <h5 class="card-title">Protein Bag</h5>
            <p class="card-text">There’s nothing quite like a humanely raised, grass-fed steak, fresh from a local farm. All of our meat comes from small family farms in the region. These farmers are true stewards of the animals and the land. No huge factory farms here, folks – just happy, healthy animals straight from the farm to your table.</p>
            {% include selling-points.html %}
            <h5 class="mt-5">What's in the bag?</h5>
            <nav class="nav nav-pills flex-column flex-sm-row">
              <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#meatshare">Meat Share</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#meatsix">+ 6 Eggs</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#meattwelve">+ 12 Eggs</a>
            </nav>
            <div class="tab-content" id="protein-bags">
              <div class="tab-pane fade show active" id="meatshare" role="tabpanel" aria-labelledby="home-tab">
                <hr>
                <p>Each week, your share will include 3-4 different cuts of local meats, raised using sustainable and humane practices. One
                week may have 3 lbs of beef short ribs, 1 lb of ground turkey, and 1 lb of maple breakfast sausage. The next week may
                have 1 lb of hot italian pork sausage, one whole 3-4 lb organic chicken, and 1 lb of ground beef. This share comes with
                NO EGGS.</p>
              </div>
              <div class="tab-pane fade" id="meatsix" role="tabpanel" aria-labelledby="profile-tab">
                <hr>
                <p>Each week, your share will include 3-4 different cuts of local meats, raised with sustainable and humane practices. One week may have 3 lbs of beef short ribs, 1 lb of ground turkey, and 1 lb of maple breakfast sausage. The next week may have 1 lb of hot italian pork sausage, one whole 3-4 lb organic chicken, and 1 lb of ground beef. This share comes with SIX FREE RANGE ORGANIC EGGS.</p>
              </div>
              <div class="tab-pane fade" id="meattwelve" role="tabpanel" aria-labelledby="contact-tab">
                <hr>
                <p>Each week, your share will include 3-4 different cuts of local meats, raised with sustainable and humane practices. One week may have 3 lbs of beef short ribs, 1 lb of ground turkey, and 1 lb of maple breakfast sausage. The next week may have 1 lb of hot italian pork sausage, one whole 3-4 lb organic chicken, and 1 lb of ground beef. This share comes with TWELVE FREE RANGE ORGANIC EGGS.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-0">
  <div class="row no-gutters">
    <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/584fa22bbf6b5a5a9b7f4d681acf6461.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;" onClick="ga('send', 'event', 'feedlink', 'Instagram Feed', '{{ page.title }}');"></iframe>
  </div>
</section>