---
layout: page
title: Get a Bag
---

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img src="/uploads/WeeklyShare-4P-Produce-Spring.jpg" class="img-fluid editable mb-3 mb-lg-0" alt="Produce image" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="editable">
          <h1>Delicious Food Straight from the Farm</h1>
          <p>Sign up with our partner 4P Foods to choose from our flexible, customizable bag options (including signature Produce, Protein, and Dairy) and get fresh, local food from farmers you can know and trust. You can also add on a la carte items, or shop fully a la carte ($30 minimum order). Set frequency for one-time or recurring orders to get what you need, when you need it.</p>
          <p>Inova team members can sign up for always-free pickup at one of the participating Inova pickup sites or other community sites, or opt for home delivery (free delivery for orders over $60).</p>
          <p>Click the link below to register and use the code INOVA2021 on your first order to get $15 off!</p>
        </div>
        <a href="{{ site.store_url}}/{{ site.innova_param }}" class="btn btn-primary mt-4">Sign-Up Now</a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-12 col-sm-4">
        <div class="card">
          <img src="/assets/img/dairy-bag.jpg" class="card-img-top" alt="Dairy Bag">
          <div class="card-body">
            <h5 class="card-title">Dairy Bag</h5>
            <p class="card-text">We are thankful to be working with local dairy producers who treat their cows and goats like family, as a result, produce some of the tastiest and healthiest products you’ll ever eat, including milks, cheeses, ice
            creams, and more.</p>
            {% include selling-points.html %}
            <h5 class="mt-5">What's in the bag?</h5>
            <nav class="nav nav-pills flex-column flex-sm-row">
              <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#dairyshare">Dairy Share</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#dairysix">+ 6 Eggs</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#dairytwelve">+ 12 Eggs</a>
            </nav>
            <div class="tab-content" id="dairy-bags">
              <div class="tab-pane fade show active" id="dairyshare" role="tabpanel" aria-labelledby="home-tab">
                <hr />
                <p>Each week, your dairy share will include five to seven locally sourced and sustainably produced dairy products. We’ve
                partnered with amazing producers to bring you the best milk, cheeses, yogurt, butter, ice cream, sour cream, and more.
                One week may have a half gallon of organically produced milk, a quart of yogurt, a pound of butter, one milk cheese, one
                goat cheese, and a taste of ice cream. Most dairy will be whole milk, unless otherwise specified or requested. This
                share comes with NO EGGS.</p>
              </div>
              <div class="tab-pane fade" id="dairysix" role="tabpanel" aria-labelledby="profile-tab">
                <hr />
                <p>Each week, your dairy share will include five to seven locally sourced and sustainably produced dairy products. We’ve partnered with amazing producers to bring you the best milk, cheeses, yogurt, butter, ice cream, sour cream, and more. One week may have a half gallon of organically produced milk, a quart of yogurt, a pound of butter, one milk cheese, one goat cheese, and a taste of ice cream. Most dairy will be whole milk, unless otherwise specified or requested. This share comes with SIX FREE RANGE ORGANIC EGGS.</p>
              </div>
              <div class="tab-pane fade" id="dairytwelve" role="tabpanel" aria-labelledby="contact-tab">
                <hr />
                <p>Each week, your dairy share will include five to seven locally sourced and sustainably produced dairy products. We’ve partnered with amazing producers to bring you the best milk, cheeses, yogurt, butter, ice cream, sour cream, and more. One week may have a half gallon of organically produced milk, a quart of yogurt, a pound of butter, one milk cheese, one goat cheese, and a taste of ice cream. Most dairy will be whole milk, unless otherwise specified or requested. This share comes with TWELVE FREE RANGE ORGANIC EGGS.</p>
              </div>
            </div>
          </div>
        
      
      <div class="col-12 col-sm-4">
        <div class="card">
          <img src="/assets/img/produce-bag.jpg" class="card-img-top" alt="Produce Bag" />
          <div class="card-body">
            <h5 class="card-title">Produce Bag</h5>
            <p class="card-text">Your produce bag will consist of locally sourced fruits and vegetables. A summer bag might include heirloom tomatoes, sweet corn, raspberries, bell peppers and cucumbers. A winter bag might include leafy greens, butternut squash, bean sprouts, and radishes. Always local. Always seasonal.</p>
            {% include selling-points.html %}
            <h5 class="mt-5">What's in the bag?</h5>
            <nav class="nav nav-pills flex-column flex-sm-row">
              <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#small">Small</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#medium">Medium</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#large">Large</a>
            </nav>
            <div class="tab-content" id="produce-bags">
              <div class="tab-pane fade show active" id="small" role="tabpanel" aria-labelledby="small-tab">
                <hr />
                <p>Designed for a household of 1-2 people, depending on how much produce you eat. A typical small bag could include: a pint of concord grapes, one
                butternut squash, two red tomatoes, two juicy peaches, four red medium shallots, a head of broccoli, a head of bibb
                lettuce, one bunch of mustard greens, two red potatoes, and one bunch of thyme.</p>
              </div>
              <div class="tab-pane fade" id="medium" role="tabpanel" aria-labelledby="medium-tab">
                <hr />
                <p>Designed for a household of 2-4 people. The medium bag is approximately 40% more food than found in our SMALL share.</p>

                <p>A typical medium bag could include: two pints of concord grapes, one butternut squash, three red tomatoes, three juicy
                peaches, four red medium shallots, two heads of broccoli, a head of bibb lettuce, two bunches of mustard greens, three
                red potatoes, and one bunch of thyme.</p>
              </div>
              <div class="tab-pane fade" id="large" role="tabpanel" aria-labelledby="large-tab">
                <hr />
                <p>Designed for a household of 4-5 people. The large bags is approximately DOUBLE the size of our SMALL share. Now imagine twice that amount!
                Lots of veggies for your hungry family.</p>

                <p>A typical large bag could include: two pints of concord grapes, two butternut squash, four red tomatoes, four juicy
                peaches, six red medium shallots, two heads of broccoli, two heads of bibb lettuce, two bunches of mustard greens, four
                red potatoes, and one bunch of thyme.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="card">
          <img src="/assets/img/protein-bag.jpg" class="card-img-top" alt="Protein Bag" />
          <div class="card-body">
            <h5 class="card-title">Protein Bag</h5>
            <p class="card-text">There’s nothing quite like a humanely raised, grass-fed steak, fresh from a local farm. All of our meat comes from small family farms in the region. These farmers are true stewards of the animals and the land. No huge factory farms here, folks – just happy, healthy animals straight from the farm to your table.</p>
            {% include selling-points.html %}
            <h5 class="mt-5">What's in the bag?</h5>
            <nav class="nav nav-pills flex-column flex-sm-row">
              <a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#meatshare">Meat Share</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#meatsix">+ 6 Eggs</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#meattwelve">+ 12 Eggs</a>
            </nav>
            <div class="tab-content" id="protein-bags">
              <div class="tab-pane fade show active" id="meatshare" role="tabpanel" aria-labelledby="home-tab">
                <hr />
                <p>Each week, your share will include 3-4 different cuts of local meats, raised using sustainable and humane practices. One
                week may have 3 lbs of beef short ribs, 1 lb of ground turkey, and 1 lb of maple breakfast sausage. The next week may
                have 1 lb of hot italian pork sausage, one whole 3-4 lb organic chicken, and 1 lb of ground beef. This share comes with
                NO EGGS.</p>
              </div>
              <div class="tab-pane fade" id="meatsix" role="tabpanel" aria-labelledby="profile-tab">
                <hr />
                <p>Each week, your share will include 3-4 different cuts of local meats, raised with sustainable and humane practices. One week may have 3 lbs of beef short ribs, 1 lb of ground turkey, and 1 lb of maple breakfast sausage. The next week may have 1 lb of hot italian pork sausage, one whole 3-4 lb organic chicken, and 1 lb of ground beef. This share comes with SIX FREE RANGE ORGANIC EGGS.</p>
              </div>
              <div class="tab-pane fade" id="meattwelve" role="tabpanel" aria-labelledby="contact-tab">
                <hr />
                <p>Each week, your share will include 3-4 different cuts of local meats, raised with sustainable and humane practices. One week may have 3 lbs of beef short ribs, 1 lb of ground turkey, and 1 lb of maple breakfast sausage. The next week may have 1 lb of hot italian pork sausage, one whole 3-4 lb organic chicken, and 1 lb of ground beef. This share comes with TWELVE FREE RANGE ORGANIC EGGS.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     -->
  
</section>
